<%- include("partials/header2") %>



<!-- PRODUCTS SECTION -->

<div class="small-container">

    <div class="row row-2">
        <h2>All Products</h2>
        <select>
            <option>Default Sorting</option>
            <option>Sort By Price</option>
            <option>Sort By Popularity</option>
            <option>Sort By Rating</option>
            <option>Sort By Sale</option>
        </select>
    </div>

    <div class="row">
        <div class="col-4">
            <img src="/public/imges/scissor.png"> <!-- Change the image and name, price and ratings -->
            <h4>Scissor</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rs 200</p>
        </div>
        <div class="col-4">
            <img src="/public/imges/balloon.jfif"> <!-- Change the image and name, price and ratings -->
            <h4>Balloons</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>Rs 25</p>
        </div>
        <div class="col-4">
            <img src="/public/imges/partypopper.jfif"> <!-- Change the image and name, price and ratings -->
            <h4>Party Popper</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>Rs 100</p>
        </div>
        <div class="col-4">
            <img src="/public/imges/snowspray.jfif"> <!-- Change the image and name, price and ratings-->
            <h4>Snow Spray</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rs 150</p>
        </div>
        <div class="col-4">
            <img src="/public/imges/decopaper.jfif"> <!-- Change the image and name, price and ratings -->
            <h4>Decorative plane colorful Paper</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>Rs 30</p>
        </div>
        <div class="col-4">
            <img src="/public/imges/caps.jfif"> <!-- Change the image and name, price and ratings -->
            <h4>Birthday Caps</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>Rs 25</p>
        </div>
        <div class="col-4">
            <img src="/public/imges/colorpaper.jfif"> <!-- Change the image and name, price and ratings -->
            <h4>Decorative Curly COlorful Papers</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rs 30</p>
        </div>
        <div class="col-4">
            <img src="/public/imges/goldmoti.jfif"> <!-- Change the image and name, price and ratings-->
            <h4>Kwizy Pearls Beads</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rs 130</p>
        </div>
        <div class="col-4">
            <img src="/public/imges/ladi.jfif"> <!-- Change the image and name, price and ratings -->
            <h4>Feet Moti Ladi</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>Rs 100</p>
        </div>
        <div class="col-4">
            <img src="/public/imges/stapler.jfif"> <!-- Change the image and name, price and ratings -->
            <h4>Stapler</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rs 150</p>
        </div>
        <div class="col-4">
            <img src="/public/imges/silvermoti.jfif"> <!-- Change the image and name, price and ratings -->
            <h4>White Popcorn half Cut Pearls</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>Rs 100</p>
        </div>
        <div class="col-4">
            <img src="/public/imges/colormoti.jfif"> <!-- Change the image and name, price and ratings-->
            <h4>craft Wooden Beads Round</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>Rs 60</p>
        </div>

        <%- include("partials/productFooter") %>

    </div>